@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Email:</strong> P16081203@gs.ncku.edu.tw<br />
    <strong>Phone:</strong> (09)08517935
</address>

<address>
    <strong>My github:</strong>   <a href="https://github.com/JohnBlue-git">https://github.com/JohnBlue-git</a><br />
    <strong>C# programs:</strong> <a href="https://github.com/JohnBlue-git?tab=repositories&q=&type=&language=c%23&sort=">https://github.com/JohnBlue-git/C#</a>
</address>